<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel="stylesheet" href="css/quadra.css">

	<title>Квадракоптеры СПБ</title>
</head>

<body class="ishome">
	<div id="my-page">
		<div id="my-header">
			<header class="site-header" :class="{move : show}">
				<div class="top-line">
					<div class="phone">
						<i class="fa fa-mobile"></i> +7 (931) 361-09-70
					</div>
					<button class="hamburger hamburger--spin" :class="{ 'is-active' : show }" v-on:click="show = !show" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</div>
				<div class="header-flex">
					<div class="flex-center">

						<div class="container">
							<div class="row">
								<div class="col-sm-6 col-xs-10">
									<div class="header-composition">
										<div class="welcome">
											<p><span>Добро пожаловать на</span></p>
											<h1 class="h1">Квадрокоптеры СПб</h1>
											<strong><i class="fa fa-star"></i>Санкт-Петербург<i class="fa fa-star"></i></strong>
										</div>
										<p>Ищите профессиональные съемки ваших объектов?<br>Вам точно на <br>&#171;Квадрокоптеры СПб&#187;</p>
										<a href="#" class="button">О нас</a>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
				<div class="header-social">
					<nav class="soc">
						<ul>
							<li><a href=""><i class="fa fa-facebook"></i></a></li>
							<li><a href=""><i class="fa fa-instagram"></i></a></li>
							<li><a href=""><i class="fa fa-vk"></i></a></li>
						</ul>
					</nav>
				</div>
				<div class="header-contacts">
					<div class="container">
						<div class="row">
							<div class="col-lg-4 hidden-md-down">
								<i class="fa fa-location-arrow"></i> г. Санкт-Петербург
							</div>
							<div class="col-lg-4 col-md-6 col-sm-4">
								<i class="fa fa-mobile"></i> +7 (931) 361-09-70
							</div>
							<div class="col-lg-4 col-md-6 col-sm-4">
								<i class="fa fa-clock-o"></i> Вермя работы: ежедневно: 00:00 - 00:00
							</div>
						</div>
					</div>
				</div>
			</header>
			<aside class="my-menu" :class='{move : show}'>
				<ul>
					<li v-for="menu in menus" :class="{active : menu.active}"><a href="#" @click="change(menu)" >{{menu.info}}</a></li>
				</ul>
			</aside>
		</div>
		<div class="my-content">
			<section class="s-services">
				<div class="carousel-viewport"></div>
			</section>
		</div>
	</div>

<script src="https://unpkg.com/vue"></script>
<script src="js/main.js"></script>
</body>

</html>
