@import "vars";

@media only screen and (max-width: 1200px) {
	.welcome {
		.h1 {
			font-size: 45px;
		}
	}
	.header-contacts {
		font-size: 16px;
	}
	.header-composition {
		p {
			font-size: 18px
		}
}
}
@media only screen and (max-width: 992px) {
	.welcome {
		.h1 {
			font-size: 33px;
		}
	}
	.header-composition {
		p {
			font-size: 16px
		}
}
}
@media only screen and (max-width: 768px) {
	.welcome {
		.h1 {
			font-size: 24px;
		}
		p span{
			font-size: 10px;
		}
	}
	.header-composition {
		p {
			font-size: 14px
		}
}
}
@media only screen and (max-width: 576px) {
	.welcome {
		.h1 {
			font-size: 29px;
		}
		p span{
			font-size: 10px;
		}
	}
	.header-composition {
		p {
			font-size: 12px
		}
	}
}
@media only screen and (max-width: 440px) {
	.welcome {
		p span{
			font-size: 10px;
		}
		p strong {
			font-size: 10px;
		}
	}
	.header-composition {
		p {
			font-size: 12px
		}
	}
}
