@import "vars";
@import "libs";
@import "fonts";

html, body {
	height: 100%;
	margin: 0px;
}
body {
	font-family: $font;
	font-size: 18px;
  padding: 0;
	min-width: 320px;
	opacity: 1;
	position: relative;
	overflow-x: hidden;
	color: white;
	line-height: 1.75;
		#my-header {
			width: 100%;
			overflow: hidden;
			position: relative;
		}
		.site-header {
		  background-image: url(../img/sky.jpg);
		  background-repeat: no-repeat;
			min-height: 700px;
			height: 100vh;
			background-color: $dark;
			transition: .5s ease .1s;
			.top-line {
				padding-top: 40px;
				position: absolute;
				width: 100%;
				z-index: 3;
			}
		}
	}
.h1, .h2, .h3, .h4, .h5, .h6 {
	line-height: 1.4;
	text-transform: uppercase;
}
.button {
	position: relative;
	display: inline-block;
	outline: none;
	color: #fff;
	text-decoration: none;
	background-color: $golden-link;
	text-transform: uppercase;
	font-size: 15px;
	padding: 13px 50px;
	font-weight: 600;
	border: none;
	letter-spacing: 3px;
	border-radius: 2px;
	transition: background-color .1s ease;
	&:after {
		transition: background-color .2s ease;
		position: absolute;
		content: '';
		height: 4px;
		bottom: 0;
		width: 100%;
		background-color: darken($golden-link, 50%);
		opacity: .18;
		border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px;
		left: 0;
	}
	&:focus, &:hover {
		text-decoration: none;
		color: #fff;
	}
	&:hover {
		background-color: lighten($golden-link, 5%);
		&::after {
			opacity: .22;
		}
	}
	&:active {
		background-color: darken($golden-link, 5%);
		&::after {
			opacity: .32;
		}
	}
}
	.move {
		transform: translateX(-250px);
	}
button:focus {
	outline: none;
}
.hamburger {
	outline: none;
	position: absolute;
	right: 0;
	top: 33px;
	.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
		width: 34px;
		border-radius: 0;
		height: 2px;
		background-color: #fff;
	}

}
.my-menu {
    background-color: #fff;
    width: 250px;
    position: absolute;
    right: -250px;
		top: 0;
    bottom: 0px;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
		transition: .5s ease .1s;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		.active a {
			transition: .3s ease-in;
			color: $golden-link;
			&:visited, :active {
				color: $golden-link;
			}
			&:before {
				transition: .3s ease-in;
				color: rgb(38, 158, 175);
			}
		}
		ul {
			width: 100%;
			padding: 0px;
			font-size: 22px;
		}
		li {
			padding:20px;
			list-style:none;
			&:first-child {
				margin-top: 100px;
			}
		}
		a {
			text-decoration: none;
			&:visited, :active {
				color: $dark;
			}
			&:hover {
				color: $dark;
			}
			&:before {
				content: '\f219';
				font-family: fontawesome;
				margin-right: 8px;
				font-size: 18px;
			}
		}
}
section {
	background-color: #fff;
}
section, header {
	position: relative;
	background-size: cover;
	background-position: center;
}
.phone {
	position: absolute;
	right: 85px;
	top: 44px;
	color: #fff;
	white-space: nowrap;
	.fa {
		font-size: 22px;
		margin-right: 3px;
	}
}
.header-flex {
	display: flex;
	height: 100%;
	position: relative;
	top: 0;
}
.flex-center {
	margin:auto;
}
.header-composition {
	text-align: center;
	position: relative;
	p {
		margin-top: 25px;
		font-size: 22px;
	}
	.button {
		margin-top: 12px;
	}
}
.welcome {
	p {
		font-size: 14px;
		text-transform: uppercase;
		display: flex;
		align-items: center;
		white-space: nowrap;
		margin: 0;
		span {
			margin: 0 10px;
		}
		&:before, &:after {
			content: '';
			height: 1px;
			width: 100%;
			position: relative;
			background-color: #fff;
			display: inline-block;
		}
	}
	.h1 {
		font-size: 53.93px;
		font-family: "sfthin";
		padding-bottom: 8px;
		line-height: 1.6;
		border-bottom: 1px solid #fff;
		white-space: nowrap;
	}
	strong {
		display: block;
		text-transform: uppercase;
		margin-top: 20px;
		.fa {
			font-size: 15px;
			margin-right: 10px;
			&:last-child {
				margin-right: inherit;
				margin-left: 10px;
			};
		}
	}
}
.header-social {
	position: absolute;
	display: flex;
	right: 0;
	height: 100%;
	border-left: rgba(255, 255, 255, 0.1) 1px solid;
	top: 0;
	padding: 0 18px;
}
.soc {
	margin: auto;
	ul, li {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	a {
		color: rgba(#000, 1);
		display: block;
		font-size: 17px;
		background-color: rgba(#ffffff, 0.2);
		height: 38px;
		width: 38px;
		margin: 18px 0;
		text-align: center;
		line-height: 38px;
		border-radius: 50%;
		transition: .25s ease;
		&:hover {
			background-color: rgba(#ffffff, 0.5);
		}
	}
}
.header-contacts {
	position: absolute;
	bottom: 0;
	left: 0;
	white-space: nowrap;
	border-top: rgba(#fff, .15) 1px solid;
	padding: 18px 0;
	width: 100%;
	background-color: rgba(#151515, .1);
	.fa {
		margin-right: 5px;
	}
}
@import "media"
